@import url('https://fonts.googleapis.com/css?family=Roboto|Noto-Sans-JP|Lato');
/*  */
p { 
	width: 515px;
	margin: auto;
}

#Blog {
	display: none;
}
/* Blog formatting */
#EntryDate {
	padding-top: 10px;
	width: 515px;
	margin: auto;
	font-style: italic;
}

#Entry {
	width: 515px;
	margin: auto;
}

#Socials {
	display: flex;
	justify-content: center;
}
/* fonts */
.roboto-font {
	font-family: 'Noto Sans JP', 'Roboto';
	font-size: 16px;
	text-align: left;
}

/* Circular images */
.profile-pic {
	display: inline;
	margin-top: -100px;
	height: auto;
	width: 100%;
}

.img-crop {
	margin: 0 auto;	
	width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

/* text formatting */
.center {
	display: flex;
	justify-content: center;
}

.nav {
	border: 1px solid #007bb6;
	border-width: 1px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 10px;
}
/* hover effect */
/* .email-h {
	color: black;
}

.email-h:hover {
	color: blue;
} */

/* fontawesome colors */
.fa-github {
	color: #007bb6;
}

.fa-linkedin {
    color: #007bb6;
}

.fa-envelope {
	color: #007bb6;
}
/*
.fa-twitter {
	color: #00aced;
}*/