@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* Create text box */
p { 
	width: 500px;
	margin: auto;
}

/* fonts */
.roboto-font {
	font-family: Roboto, Helvetica;
	font-size: 16px;
	text-align: left;
}

/* Circular images */
.profile-pic {
	display: inline;
	margin-top: -100px;
	height: auto;
	width: 100%;
}

.img-crop {
	margin: 0 auto;
	width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

/* text formatting */
.center {
	display: flex;
	justify-content: center;
}

/* hover effect */
.email-h {
	color: black;
}

.email-h:hover {
	color: blue;
}

/* fontawesome colors */
.fa-github {
	color: #000;
}

.fa-linkedin {
    color: #007bb6
}

.fa-twitter {
	color: #00aced;
}