@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.profile-pic {
	display: inline;
	margin-top: -100px;
	height: auto;
	width: 100%;
}

.img-crop {
	margin: 0 auto;
	width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.roboto-font {
	font-family: Roboto, Helvetica;
	font-size: 16px;
}

.center {
	display: flex;
	justify-content: center;
}

.left-align {
	text-align: left;
	margin-left: 15px;
}

/* fontawesome colors */
.fa-github {
	color: #000;
}

.fa-linkedin {
    color: #007bb6
}

.fa-twitter {
	color: #00aced;
}

.fa-instagram {
	color: #3f729b;
}